*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    border-bottom: 1px solid rgb(179, 177, 177);
}

.head2 a img {
    width: 200px;
    height: 30px;
}

.head1 i {
    margin: 5px 0 0 20px;
}

.head1 i:hover {
    cursor: pointer;
}

.space a {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.space a:hover {
    text-decoration: underline;
}

.head3 {
    margin-right: 10px;
}

.butt1 {
    height: 30px;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 700;
    padding: 10px;
    background-color: #326791;
    border: none;
    border-radius: 5px;
}

.butt1:hover {
    cursor: pointer;
}

.bang {
    width: 75%;
    margin: 100px auto 0 auto;
}

.bang h1 {
    font-size: 47px;
    width: 60%;
    margin: 30px auto;
    font-style: italic;
}

.bang img {
    width: 100%;
}

figure {
    margin-left: 0;
    font-size: 18px;
    width: 80%;
}

.rick {
    color: rgb(112, 111, 111);
}

.centr {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0  0 0 30%;
}

.left {
    width: 50%;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin:25px 0 35px 0;
}

.facebook i {
    margin-left: 20px;
}

.facebook i:hover {
    cursor: pointer;
    background-color: gray;
}

.par {
    width: 95%;
    font-size: 20px;
    line-height: 1.8;
    color: #333;
}

.unlock {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}

.unlock p {
    margin: 0;
    padding: 0;
}

.unlock p a {
    color: #326791;
    text-decoration: none;
}

.hr1 {
    width: 90px;
}

.right {
    width: 30%;
}

.img1 {
    display: flex;
    align-items: center;
}

.img1 img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.img1 p a {
    font-family: sans-serif;
    color: #333;
    line-height: 1.4;
    text-decoration: none ;
}

.ofh3 {
    width: 80%;
    margin: 0 auto;
}

.theory {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.univer {
    width: 25%;
    padding: 10px;
}

.univer img {
    width: 200px;
    height: 140px;
}

.univer p span {
    font-weight: bold;
}

.larry {
    margin-left: 10%;
}

.kovac {
    width: 50%;
    margin: 0 auto;
}

.kovac p {
    font-size: 20px;
    color: #333;
    line-height: 1.8;
}

.vid1 {
    width: 100%;
    height: 400px;
}

.img-space {
    width: 100%;
    height: 400px;
}

.fig-vid {
    font-size: 17px;
}

.fig-vid span {
    color: rgb(153, 152, 152);
}

#last-p {
    font-size: 13px;
}

#last-p a {
    color: #333;
}

#last-p a:hover {
    text-decoration: none;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    font-weight: 600;
    color: whitesmoke;
    background-color: #567B95;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.btn1:hover {
    cursor: pointer;
}

.icon-new i {
    margin-left: 20px;
}

.icon-new i:hover {
    cursor: pointer;
    background-color: #333;
}

.more-most {
    display: flex;
    margin-top: 20px;
}

.more {
    width: 70%;
    padding: 10px;
}

.canberra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-hr1 {
    font-weight: bold;
}

.when {
    width: 32.5%;
}

.when img {
    width: 100%;
}

.fig-when {
    font-size: 12px;
    margin: 0;
}

.p1 {
    font-size: 20   px;
    font-weight: bold;
    margin: 0;
}

.p2 {
    font-size: 14px;
}

.most {
    width: 30%;
    padding: 10px;
}

.most p {
    font-size: 20px;
    columns: #333;
}

