*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    border-bottom: 1px solid rgb(179, 177, 177);
}

.head2 a img {
    width: 200px;
    height: 30px;
}

.head1 i {
    margin: 5px 0 0 20px;
}

.head1 i:hover {
    cursor: pointer;
}

.space a {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.space a:hover {
    text-decoration: underline;
}

.head3 {
    margin-right: 10px;
}

.butt1 {
    height: 30px;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 700;
    padding: 10px;
    background-color: #326791;
    border: none;
    border-radius: 5px;
}

.butt1:hover {
    cursor: pointer;
}

.bang {
    width: 75%;
    margin: 100px auto 0 auto;
}

.bang h1 {
    font-size: 47px;
    width: 60%;
    margin: 30px auto;
}

.bang img {
    width: 100%;
}

figure {
    margin-left: 0;
    font-size: 18px;
    width: 80%;
}

.rick {
    color: rgb(112, 111, 111);
}